body{
  background-color: rgba(255, 99, 71, 0.5);
}
header{
  text-align: center;
  background-color: #F4F4F4;
  padding: 0px;
  margin: 0px;
  position: fixed;
  width: 100%;
  z-index: 1;
  left: 0;
  top: 0;
}
.banner{
  position: relative;
}
.banner img{
  max-width: 100%
}
nav{
  background-color: #F4F4F4;
  padding: 10px;
}
nav ul{
  white-space: nowrap;
  max-width: 1200px;
  margin: 0 auto;
}
nav li{
  width: 25%;
  display: inline-block;
  font-size: 20px;
}
nav li a{
  text-decoration: none;
  color: black;
}
.images{
  text-align: center;
  margin:
}
.images li{
  display: inline-block;
  width: 90%;
  margin:
}
.images li img{
  max-width:100%;
}
.join{
  background: #F4F4F4;
  text-align: center;
  padding: 0px 20px;
  color: #4b4b4b;
}
.join h2{
  font-size: 40px;
}
form input{
  margin: 20px 0;
  padding: 10px 20px;
  font-size: 24px;
  border-radius: 28px;
  border: 4px solid white;
}
/* pseudo classes */
nav li a:hover{
  text-decoration: underline;
}
.images li:hover{
  position: relative;
  top: -4px;
}
form input:focus{
  border: 4px dashed #4b4b4b;
  outline: none;
}
section.join p::first-letter{
  font-size: 1.5em;
}
section.join p::selection{
  background-color: pink;
  color: white;
}
